.controller.fight-stick {
    background: transparent;
}

.fight-stick .button, .fight-stick .bumper, .fight-stick .trigger-button {
    background-color: #1a1a1a;
    box-shadow: 0 4px 0 2px #0f0f0f, 0 4px 0 10px black;
}
.fight-stick .button.pressed, .fight-stick .bumper.pressed, .fight-stick .trigger-button.pressed {
    opacity:1;
    transform: translateY(2px);
    box-shadow: 0 0px 0 10px black;
    opacity:1;
    -webkit-filter: invert(0);
}


.fight-stick .abxy {
    position: absolute;
    width: 310px;
    height: 370px;
    bottom: 75px;
    left: 440px;
    right: auto;
    top: auto;
}
.fight-stick .triggers {
    width: 326px;
    /*height: 195px;*/
    /*height:215px;*/
    height:225px;
    left: 755px;
    bottom: 0;
    right: auto;
    top: auto;
}
.fight-stick .bumpers {
    width: 295px;
    /*height: 198px;*/
    height: 228px;
    left: 755px;
    bottom: 150px;
    right: auto;
    top: auto;
}


/*D*/
.fight-stick .button.a {
    bottom: 0px;
    left: 0px;
    right: auto;
    top: auto;
    background: #13657a;
    box-shadow: 0 4px 0 2px #06303a, 0 4px 0 10px black;
}

/*D Pressed*/
.fight-stick .button.a.pressed {
    background: #00bff2;
    box-shadow: 0 4px 0 2px #006b88, 0 4px 0 10px black;
}


/*Utility 1*/
.fight-stick .button.b {
    bottom: 0;
    bottom: 50px;
    right: 31px;
    left: auto;
    top: auto;
}

/*Utility 1 & 2 colours*/
.fight-stick .button.b, .fight-stick .trigger-button.right {
    background: #343434;
	box-shadow: 0 4px 0 2px #1d1f1f, 0 4px 0 10px black;
}

/*Utility 1 & 2 pressed*/
.fight-stick .trigger-button.right.pressed, .fight-stick .button.b.pressed {
    background: #525252;
	box-shadow: 0 4px 0 2px #303030, 0 4px 0 10px black;
}

/*A*/
.fight-stick .button.x {
    background-color: #7f7e13;
    box-shadow: 0 4px 0 2px #5d5c0c, 0 4px 0 10px black;
    bottom: 153px;
    left: 0;
    right: auto;
    top: auto;
}

/*A pressed*/
.fight-stick .button.x.pressed {
    background-color: #fefb00;
    box-shadow: 0 4px 0 2px #bab700, 0 4px 0 10px black;
}


/*B*/
.fight-stick .button.y {
    background-color: #7a5129;
    box-shadow: 0 4px 0 2px #573515, 0 4px 0 10px black;
    right: 31px;
    bottom: 150px;
    bottom: 202px;
    left: auto;
    top: auto;
}

/*B pressed*/
.fight-stick .button.y.pressed {
    background-color: #e98b2f;
    box-shadow: 0 4px 0 2px #ab5e13, 0 4px 0 10px black;
}

/*C*/
.fight-stick .bumper.right {
    background: #7f132f;
    box-shadow: 0 4px 0 2px #3a0c0c, 0 4px 0 10px black;
    left: 0;
    bottom: 0;
    right: auto;
    
}

/*C pressed*/
.fight-stick .bumper.right.pressed {
    background: #fe0041;
    box-shadow: 0 4px 0 2px #740808, 0 4px 0 10px black;
}

/*Utility 2*/
.fight-stick .trigger-button.right {
    float: left;
}

.fight-stick .bumper.left, .fight-stick .trigger-button.left { display: none; }

.fight-stick .quadrant {
    display: none;
}

.fight-stick::after {
    display: block;
    content: '';
    width: 125px;
    height: 125px;
    background: black;
    border-radius: 50%;
    left: 240px;
    top: 247px;
    position: absolute;
    z-index: -1;
}

.fight-stick .arrows {
    display: none;
}